/*FONT FAMILIES*/
/*DEFAULT COLORS*/
/*Should be slightly darker than primary color*/
/*Font Colors*/
/*HAMBURGER COLORS*/
/* TRIANGLE and SLANT Height */
/* SECTION TOP OFFSET */
/*--------------------------*/
/* Structure#				 */
/*--------------------------*/
html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: transparent; }
  header nav h1 {
    font-size: 30px;
    padding-left: 50px; }
  header nav .nav-links {
    text-align: right;
    padding-right: 4em; }

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200; }

footer {
  background-color: #aaa;
  height: 350px;
  width: 100vw;
  min-width: 100%; }
  footer img {
    width: 100%; }
  footer a {
    font-color: #0F228B; }

/*-----------------------
		HERO SLIDER
-------------------------*/
/* Welcome */
.cd-hero-slider li:first-of-type {
  background-color: #0F228B; }

cd-hero-slider .cd-btn {
  background-color: rgba(96, 139, 15, 0.9); }

/* Community */
.cd-hero-slider li:nth-of-type(2) {
  background-image: url("../assets/slideshow/fortcollins.jpg"); }

/* Partners */
.cd-hero-slider li:nth-of-type(3) {
  background-color: #3d4952;
  background-image: url("../assets/slideshow/shakehands.png"); }

/*-----------------------
		#SECTIONS
-------------------------*/
/* ---------------TOP LANDING----------------*/
#top {
  height: 700px;
  width: 100vw;
  min-width: 100%; }
  #top .overlay {
    height: inherit;
    margin: 0; }
  #top .social {
    display: block;
    margin: 0 auto 5% auto;
    text-align: center; }

/* ---------------EVENTS----------------*/
#lp-events {
  height: 100%;
  min-height: 700px;
  padding: 40px 0 40px 0; }
  #lp-events .overlay {
    min-height: 100%;
    width: 100vw;
    min-width: 100%;
    margin: 0;
    padding: 4em; }

/*---------MISSION STATEMENT ----------*/
#lp-mission {
  height: 450px;
  width: 100vw;
  min-width: 100%; }
  #lp-mission .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100%;
    width: 100vw;
    min-width: 100%;
    margin: 0;
    padding: 0 0 0 0; }
  #lp-mission .text-box {
    display: block;
    margin: 7% auto 0 auto;
    padding: 0;
    width: 50em; }
    #lp-mission .text-box h1 {
      text-align: center;
      line-height: 2em;
      font-size: 2em;
      color: #fff; }
    #lp-mission .text-box h4 {
      text-align: center;
      line-height: 1.5em;
      font-size: 1.3em;
      color: #fff; }

section.module.parallax-1 {
  /*transform: translateY(-150px);*/
  background-image: url("../assets/slideshow/image-c.jpg"); }

/*-----------HELP/SKILLS-------------------------*/
#lp-skills {
  left: 0;
  top: 0;
  background-color: #aaa;
  height: 100%;
  width: 100vw;
  min-width: 100%;
  padding: 0;
  margin: 0; }
  #lp-skills .overlay {
    height: inherit; }
  #lp-skills .card {
    float: left;
    width: 49.5%;
    height: 350px;
    padding: 0;
    margin: 0; }
    #lp-skills .card img {
      width: 100%;
      height: 100%; }
    #lp-skills .card h4 {
      line-height: 350px;
      text-align: center;
      background: transparent; }

/*--------------------PARTNERS-------------------------*/
#lp-partners {
  height: 700px;
  min-height: 100%;
  margin: 0; }
  #lp-partners .overlay {
    background-color: rgba(255, 255, 255, 0.7);
    height: inherit;
    width: 100%;
    margin: 0;
    padding: 4em 0 0 0; }

section.module.parallax-2 {
  background-image: url("../assets/slideshow/image-b.jpg"); }

/* ---------------#Newsletter#------------------------*/
#lp-newsletter {
  position: relative;
  background: #fff;
  height: 200px;
  width: 100vw;
  min-width: 100%;
  margin: 0; }
  #lp-newsletter .overlay {
    height: inherit;
    width: 100vw;
    min-width: 100%;
    margin: 0;
    position: relative;
    /*set this to relative for triangles*/
    padding: 2em 0 0 0; }
  #lp-newsletter h4 {
    padding: 10px;
    margin: 0;
    width: 100%; }
  #lp-newsletter form {
    display: block;
    margin: 5% auto 0 auto;
    text-align: center; }
  #lp-newsletter button {
    font-size: 1em;
    border-radius: 2%;
    padding: 5px; }
  #lp-newsletter label {
    font-size: 1.3em;
    padding: 0 10px 0 20px; }
  #lp-newsletter input {
    font-size: 1.3em;
    padding: 5px;
    border-radius: 2%; }

/*------------------------------------------------------*/
/* #Typography# */
/*------------------------------------------------------*/
h1, h2, h3, h4 {
  font-family: "Quantico", sans-serif; }

p, label, input, button {
  font-family: "Nunito", sans-serif; }

a {
  text-decoration: none;
  color: #000; }

a:active {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  background: gray; }
  code strong {
    color: red;
    font-weight: bolder; }

/* ------------------------------------------------ */
/*		NAVIGATION NAV#								*/
/* ------------------------------------------------ */
nav {
  width: 100%;
  height: 100%;
  /* Clean up nav links */ }
  nav .logo {
    width: 64px;
    height: 64px; }
  nav .nav-title {
    display: inline-block;
    width: 50%;
    margin: 0;
    color: #fff;
    font-family: 'Quantico', sans-serif;
    font-size: 1.1em;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 100px; }
  nav .nav-title h1 {
    /*Override h1 so it centers vertically*/
    margin: 0;
    padding: 0; }
  nav .nav-links {
    display: inline-block;
    width: 50%;
    margin: 0;
    float: right; }
  nav a {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    line-height: 50px;
    vertical-align: middle;
    color: #fff;
    padding: 0 15px 0 0;
    transition: 0.5s; }
  nav a:hover {
    color: #ccc;
    text-shadow: 0.1px 0.1px 1px rgba(0, 0, 0, 0.3); }
  nav a, nav a:active, nav a:selected {
    text-decoration: none; }

/*------------------------------------------------------*/
/*				#SECTION#								*/
/*------------------------------------------------------*/
/* The full page sections set */
.section {
  height: 100%;
  width: 100vw;
  min-width: 100%;
  margin: 0;
  background-color: transparent; }

/*------------------------------------------------------*/
/* #DRAWER MENU# */
/*------------------------------------------------------*/
#drawer-button {
  position: fixed;
  left: 22px;
  top: 20px;
  width: 30px;
  height: 10px;
  /*padding: 10px 35px 16px 0px;*/
  padding: 12px 35px 18px 0px;
  cursor: pointer;
  z-index: 2000;
  background-color: #0F228B;
  outline: 5px solid #0F228B; }

#drawer-button span, #drawer-button span:before, #drawer-button span:after {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: ''; }

#drawer-button span:before {
  top: -10px; }

#drawer-button span:after {
  bottom: -10px; }

#drawer-button span, #drawer-button span:before, #drawer-button span:after {
  transition: all 500ms ease-in-out; }

#drawer-button.active span {
  background-color: transparent; }

#drawer-button.active span:before, #drawer-button.active span:after {
  top: 0; }

#drawer-button.active span:before {
  transform: rotate(45deg);
  background: #fff;
  z-index: 1000; }

#drawer-button.active span:after {
  transform: rotate(-45deg);
  background: #fff;
  z-index: 1000; }

#drawer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1090; }

.drawer-side {
  float: left;
  width: 28%;
  height: 100vh;
  margin: 0;
  padding: 4em 0 0 2em;
  background: rgba(255, 255, 255, 0.95);
  overflow-y: auto; }

.screen-side {
  float: left;
  width: 71.5%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0; }

#drawer a {
  font-family: 'Nunito', sans-serif;
  float: left;
  font-size: 1em;
  width: 100%;
  color: #999;
  padding: 0;
  margin: 7px;
  background-size: 150% 100%;
  background-image: linear-gradient(to right, transparent 75%, rgba(0, 0, 0, 0.1) 100%);
  transition: 0.2s; }

#drawer a:hover {
  color: #000; }

#drawer h4 {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding-top: 20px; }

#drawer .social-container {
  padding: 0;
  margin: 0; }

#drawer .social-container a {
  display: inline-block;
  width: auto; }

.drawer-btn-space {
  padding-top: 30px; }

/* ------------------------------------------------ */
/*		Social Mobile								*/
/* ------------------------------------------------ */
/*Uses Font-Awesome Icons, make sure to cdn or download*/
.social-mobile-icon {
  width: 70px;
  height: 70px;
  font-size: 50px;
  line-height: 70px;
  vertical-align: middle;
  text-align: center;
  background-color: #0F228B;
  border: 2px solid #0a175b;
  color: #fff;
  margin-left: 1px;
  margin-top: 4px;
  cursor: pointer;
  transition: 0.2s; }

.social-mobile-icon:hover {
  background-color: #0a175b;
  box-shadow: 0.2px 0.2px 2px #000; }

/*--------------------------*/
/*  EVENTS BLOG */
/*--------------------------*/
.event {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 20px;
  cursor: pointer; }
  .event .event-big {
    width: 100%;
    height: 200px; }
  .event .event-link {
    text-decoration: none; }
  .event .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .event h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 1.3em;
    padding: 0; }
  .event h4 .title {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 1.7em;
    font-weight: bolder;
    padding: 0; }
  .event p {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #777;
    font-size: 1em;
    padding: 0; }
  .event .date-time {
    width: 100%; }
  .event .date {
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: #000;
    text-align: left;
    padding: 0;
    margin: 0; }
  .event .time {
    display: inline-block;
    padding: 0 4px 0 0;
    text-align: right;
    color: #777;
    margin: 0;
    font-size: 0.9em; }
  .event .view-event {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3); }
    .event .view-event h4 {
      padding-right: 20px; }
  .event .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(24, 135, 119, 0.97);
    z-index: 1; }
    .event .description p {
      padding: 10px;
      color: #fff;
      font-family: 'Nunito', sans-serif;
      font-size: 16px; }
  .event img {
    height: 100%;
    width: 100%; }
  .event .more-arrow {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 46px;
    color: #fff;
    padding-right: 4%; }

/*--------------------------*/
/*  LISTS# */
/*--------------------------*/
.list-item {
  padding: 10px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.1) 100%);
  transition: 0.2s; }

.archive p {
  padding: 1em 1em 1em 2em; }
.archive i {
  padding: 10px; }

/*--------------------------*/
/*  #SLANTS# */
/*--------------------------*/
.slant-very-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0;
  min-height: 0;
  border-left: 70vw solid #0F228B;
  border-right: none;
  border-bottom: 100px solid transparent;
  /*padding: 0 0 ($triangleHeight * 1.1) 0;*/
  z-index: 10; }

.slant-bottom-gray {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0;
  border-left: 100vw solid #aaa;
  border-right: none;
  border-top: 50px solid transparent;
  z-index: 200; }

.slant-bottom-white_top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0;
  border-left: none;
  border-right: 100vw solid white;
  border-top: 50px solid transparent;
  z-index: 10; }

/* ------------------------------------------------ */
/*		EFFECTS										*/
/* ------------------------------------------------ */
.slide-effect:hover {
  	/* Must have:
  		background-size: 200% 100%;
      	background-image: linear-gradient(to right, transparent 50%, #761f8e 0%);
      	in order for the element to slide
      */
  background-position: -100% 0; }

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }
/* ============================================================
  SECTION PARALLAX
============================================================ */
section.module {
  margin: 0;
  padding: 0; }

section.module:last-child {
  margin-bottom: 0; }

section.module.content {
  padding: 40px 0; }

section.module.parallax {
  width: 100vw;
  min-width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

section.module.parallax:last-child {
  margin-bottom: 0; }

/* ------------------------------------------------ */
/*		Media Queries								*/
/* ------------------------------------------------ */
/* iPhone 6 Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  nav .nav-links {
    display: none;
    width: 0;
    height: 0; }
  nav .nav-title {
    padding-left: 75px; }

  #drawer .drawer-side {
    width: 100%;
    padding: 60px 0 0 10%; }
  #drawer .screen-side {
    width: 0; } }

/*# sourceMappingURL=styles.css.map */
