
/*FONT FAMILIES*/
$fontFamilyHeaders:'Quantico', sans-serif;
$fontFamilyText: 'Nunito', sans-serif;

/*DEFAULT COLORS*/
$primaryColor: #0F228B;
$primaryColorRGBA: rgba(15,34,139,0.5);
$socialbuttonOutline: #0a175b;/*Should be slightly darker than primary color*/
$headerColor: transparent;
$footerColor: gray;

/*HAMBURGER COLORS*/
$drawerOpenColor: #fff;
$drawerClosedColor: #fff;
$drawerButtonBackgroundColor: $primaryColor;
$drawerOutline: 5px solid $primaryColor;

/* TRIANGLE and SLANT Height */
$triangleHeight: 50px;

/* SECTION TOP OFFSET */
$sectionTopOffset: 4em;

/*--------------------------*/
/* Typography Defaults */
/*--------------------------*/
h1,h2,h3,h4 {	font-family: $fontFamilyHeaders; }
p, label, input, button {font-family: $fontFamilyText; }

/*--------------------------*/
/* Structure#				 */
/*--------------------------*/
html, body{
	padding:0;
	margin:0;
}

header {
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: $headerColor;

	nav {
		padding-right: 4em;

		.nav-title{
			font-size: 30px;
			text-align: center;
		}
		.nav-links{
			text-align: right;
		}
	}
}
.header-fixed{
		position: fixed;
		left:0;
		top:0;
		z-index: 200;
}



footer{
	background-color: $footerColor;
	height: 40vh;
	min-height: 40vh;
	width: 100vw;
	min-width: 100%;

	img{
		width: 85%;
	}
}



/*-----------------------
		HERO SLIDER
-------------------------*/
/* Welcome */
.cd-hero-slider li:first-of-type {
  background-color: $primaryColor;
}
cd-hero-slider .cd-btn{
	background-color: rgba(96,139,15, 0.9);
}
/* Community */
.cd-hero-slider li:nth-of-type(2) {
  background-image: url("../assets/slideshow/fortcollins.jpg");
}
/* Partners */
.cd-hero-slider li:nth-of-type(3) {
  background-color: #3d4952;
  background-image: url("../assets/slideshow/shakehands.png");
}
.cd-hero-slider li:nth-of-type(3) p, .cd-hero-slider li:nth-of-type(3) h2  {
}




/*-----------------------
		#SECTIONS
-------------------------*/

/* ---------------EVENTS----------------*/
#top{
	.overlay{
		min-height: 100%;
		width: 100vw;
		min-width: 100%;
		margin:0;
		position: relative; /*set this to relative for triangles*/	
	}
	.social{
		position: absolute;
		bottom: 1em;
		left: 40%;
		z-index: 100;
	}

}




/* ---------------EVENTS----------------*/
#lp-events{
	height: 100%;
	padding-bottom: 40px;

	.overlay{
		min-height: 100%;
		width: 100vw;
		min-width: 100%;
		margin:0;
		position: relative; /*set this to relative for triangles*/	
		padding: $sectionTopOffset;
	}
}



/*---------MISSION STATEMENT ----------*/
#lp-mission{
	height: 60vh;
	max-height: 100vh;
	width: 100vw;
	min-width: 100%;

	.overlay{
		background-color: rgba(0,0,0,0.7);
		min-height: 100%;
		width: 100vw;
		min-width: 100%;
		margin:0;
		position: relative; /*set this to relative for triangles*/	
		padding:$sectionTopOffset 0 0 0;
		
		
	}
	.text-box {
		margin:5em 0 0 0;
		padding: 0;
		h1 {
			text-align: center;
			line-height: 2em;
			font-size: 2em;
			color: #fff;
		}
		h4{
			text-align: center;
			line-height: 1.5em;
			font-size: 1.3em;
			color: #fff;
		}
	}

}
section.module.parallax-1 {
	/*transform: translateY(-150px);*/
	background-image: url("../assets/slideshow/image-c.jpg");
}



/*-----------HELP/SKILLS-------------------------*/
#lp-skills{
	left:0;
	top:0;
	background-color: gray;
	height: 100%;
	margin:0;
	width: 100vw;
	min-width: 100%;
	padding: $sectionTopOffset 0 $sectionTopOffset 0;
	
	.overlay{
		height: 100%;
	}
	.card{
		display: inline-block;
		padding: 10px;
		background-color: rgba(0,0,255,0.5);
	}

}



/* ----------------------------------------- PARTNERS*/
#lp-partners {
	height: 80vh;
	min-height: 100%;
	margin:0;

	.overlay{
		background-color: rgba(255,255,255,0.7);
		min-height: 100%;
		width: 100vw;
		min-width: 100%;
		margin:0;
		position: relative; /*set this to relative for triangles*/	
		padding:$sectionTopOffset 0 0 0;
		
	}
}
section.module.parallax-2 {
  background-image: url("../assets/slideshow/image-b.jpg");
}



/* ----------------------------------------- SECTION*/
#lp-newsletter{
	position: relative;
	background: #fff;
	height: 30vh;
	width: 100vw;
	min-width: 100%;
	margin: 0;

	.overlay{
		min-height: 100%;
		width: 100vw;
		min-width: 100%;
		margin:0;
		position: relative; /*set this to relative for triangles*/	
		padding: 2em 0 0 0;
	}
	h4{
		padding: 10px;
		margin: 0;
		width: 100%;
	}

	form{
		margin-top: 4em;
		position: absolute;
		top: 30%;
		left: 20%;
	}
}






/*------------------------------------------------------*/
/* Typography */
/*------------------------------------------------------*/


a { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration: none; }

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 1em;
	font-weight: bold;
	color: #000;
	background: gray;
}
code strong{
	color: red;
	font-weight: bolder;
}















/* ------------------------------------------------ */
/*		NAVIGATION NAV#								*/
/* ------------------------------------------------ */
nav {
	width: 100%;
	height: 100%;
}
nav .logo{
	width: 64px;
	height: 64px;
}

nav .nav-title{
	display: inline-block;
	width: 50%;
	margin: 0;
	color: #fff;
	font-family: 'Quantico', sans-serif;
	font-size: 1.1em;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}
nav .nav-title h1{ /*Override h1 so it centers vertically*/
	margin: 0;
	padding: 0;
}
nav .nav-links{
	display: inline-block;
	width: 50%;
	margin: 0;
	float: right;
}
nav a{
	display: inline-block;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	line-height: 50px;
	vertical-align: middle;
	color: #fff;
	padding: 0 15px 0 0;
	transition: 0.5s;
}
nav a:hover {
	color: #ccc;
	text-shadow: 0.1px 0.1px 1px rgba(0,0,0,0.3);
}
/* Clean up nav links */
nav a, nav a:active, nav a:selected {
	text-decoration: none;
}





/*------------------------------------------------------*/
/*				#SECTION#								*/
/*------------------------------------------------------*/
/* The full page sections set */
.section{
	height: 100%;
	width: 100vw;
	min-width: 100%;
	margin:0;
	background-color: transparent;
}


/*------------------------------------------------------*/
/* DRAWER MENU */
/*------------------------------------------------------*/
#drawer-button{
	position: fixed;
	left: 20px;
	top: 17px;
	width: 30px;
	height: 10px;
	/*padding: 10px 35px 16px 0px;*/
	padding: 12px 35px 18px 0px;
	cursor: pointer;
	z-index: 2000;

	background-color: $primaryColor;
	outline: $drawerOutline;
}
#drawer-button span, #drawer-button span:before, #drawer-button span:after {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: '';
}
#drawer-button span:before {
  top: -10px; 
}
#drawer-button span:after {
  bottom: -10px;
}
#drawer-button span, #drawer-button span:before, #drawer-button span:after {
  transition: all 500ms ease-in-out;
}
#drawer-button.active span {
  background-color: transparent;
}
#drawer-button.active span:before, #drawer-button.active span:after {
  top: 0;
}
#drawer-button.active span:before {
  transform: rotate(45deg);
  background: #fff;
  z-index: 1000;
}
#drawer-button.active span:after {
  transform: rotate(-45deg);
  background: #fff;
  z-index: 1000;
}
#drawer{
	display: none;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	min-width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 1090;
}
.drawer-side{
	float: left;
	width: 25%;
	height: 100vh;
	margin:0;
	padding: 5% 5px 1% 1%;
	background: rgba(255,255,255,0.95);
	overflow-y:auto;
}
.screen-side{
	float: left;
	width: 72.5%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	margin: 0;
	padding: 0;
}
#drawer a {
	font-family: 'Nunito', sans-serif;
	float: left;
	font-size: 1em;
	width: 100%;
	color: #999;
	padding: 0;
	margin: 7px;
	background-size: 150% 100%;
    background-image: linear-gradient(to right, transparent 75%, rgba(0,0,0,0.1) 100%);
	transition: 0.2s;
}
#drawer a:hover{
	color: #000;
	
}

#drawer h4{
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	margin: 0;
	padding-top: 20px;
}
#drawer .social-container{
	padding: 0;
	margin: 0;
}
#drawer .social-container a{
	display: inline-block;
	width: auto;
}
.drawer-btn-space{
	padding-top: 30px;
}


/* ------------------------------------------------ */
/*		Social Mobile								*/
/* ------------------------------------------------ */
/*Uses Font-Awesome Icons, make sure to cdn or download*/
.social-mobile-icon{
	width: 70px;
	height: 70px;
	font-size: 50px;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	background-color: $primaryColor;
		
	border: 2px solid $socialbuttonOutline;
	color: #fff;
	margin-left: 1px;
	margin-top: 4px;
	cursor: pointer;
	transition: 0.2s;
}

.social-mobile-icon:hover{
	background-color: $socialbuttonOutline;
	box-shadow: 0.2px 0.2px 2px #000;
}





/*--------------------------*/
/*  EVENTS BLOG */
/*--------------------------*/
.event-container{

}
.event{
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 20px;
	cursor: pointer;
}
.event-sml{
	width: 100%;
	height: 280px;
}
.event-big{
	width: 100%;
	height: 200px;
}
.event-link{
	text-decoration: none;
}

.event .header{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: rgba(0,0,0,0.5);
}
.event h4{
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1.3em;
	padding: 0;

}
.event h4 title{
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1.7em;
	font-weight: bolder;
	padding: 0;

}
.event p{
	font-family: 'Nunito', sans-serif;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #777;
	font-size: 1em;
	padding: 0;

}
.event .date-time{
	width: 100%;
}
.event .date{
	display: block;
	width: 100%;
	font-size: 1.2em;
	color: #000;
	text-align: left;
	padding:0;
	margin:0;
}
.event .time{
	display: inline-block;
	padding: 0 4px 0 0;
	text-align: right;
	color: #777;
	margin: 0;
	font-size: 0.9em;
}

.event .view-event{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
	text-align: right;
	background-color: rgba(0,0,0,0.3);
}
.event .view-event h4{
	padding-right: 20px;
}

.event .description{
	position:absolute; 
    bottom:0;
    width:100%;
    height:100%;
	margin: 0;
	padding: 0;
	background-color:rgba(24,135,119,0.97);
	z-index: 1;
	
}
.event .description p{
	padding: 10px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

.event img{
	height: 100%;
	width: 100%;
}


.event .more-arrow{
	/*display: block;
	text-align: right;
	margin: auto;*/

	position: absolute;
	right: 10px;
	top: 0;
	font-size: 46px;
	color: #fff;
	padding-right: 4%;
	
}



/*--------------------------*/
/*  LISTS# */
/*--------------------------*/
.list-item{
	padding: 10px;
	background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(0,0,0,0.1) 100%);
	transition: 0.2s;
}
.archive p{
	padding: 1em 1em 1em 2em;
}
.archive i{
	padding:10px;
}




/*--------------------------*/
/*  SLANTS# */
/*--------------------------*/

.slant-very-top{
	position: absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	margin:0;
	min-height:0;
	border-left: none;
	border-right: 100vw solid $primaryColor;
	border-bottom: ($triangleHeight * 2) solid transparent;
	padding: 0 0 $triangleHeight 0;
	z-index: 10;
}

.slant-top-gray{
	position: absolute;
	top:0;
	left:0;
	width: 0;
	height: 0;
	margin:0;
	border-left: none;
	border-right: 100vw solid gray;
	border-bottom: $triangleHeight solid transparent;
	z-index: 200;
}
.slant-bottom-gray{
	position: absolute;
	bottom:0;
	left:0;
	width: 0;
	height: 0;
	margin:0;
	border-left: 100vw solid gray;
	border-right: none;
	border-top: $triangleHeight solid transparent;
	z-index: 200;
}
.slant-top-white{
	position: absolute;
	bottom:0;
	left:0;
	width: 0;
	height: 0;
	margin:0;
	border-left: none;
	border-right: 100vw solid gray;
	border-top: $triangleHeight solid transparent;
	z-index: 200;
}
.slant-bottom-white, .slant-bottom-white_top{
	position: absolute;
	bottom:0;
	left:0;
	width: 0;
	height: 0;
	margin:0;
	border-left: none;
	border-right: 100vw solid white;
	border-top: $triangleHeight solid transparent;
	z-index: 10;
}
.slant-bottom-white_top{
	padding: ($triangleHeight * 1.5) 0 0 0;
}

.triangle-gray-transparent-gray-down {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin:0;
	border-left: 50vw solid gray;
	border-right: 50vw solid gray;
	border-top: $triangleHeight solid transparent;
	transform: translateX(-50vw);
	z-index: 200;

}
.triangle-white-transparent-white-down {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin:0;
	border-left: 50vw solid white;
	border-right: 50vw solid white;
	border-top: $triangleHeight solid transparent;
	transform: translateX(-50vw);
	z-index: 200;

}

.triangle-white-transparent-white-up {
	position: absolute;
	top:0;
	left:50%;
	width: 0;
	height: 0;
	margin:0;
	border-left: 50vw solid white;
	border-right: 50vw solid white;
	border-bottom: $triangleHeight solid transparent;
	transform: translateX(-50vw);
	z-index: 200;

}
.triangle-gray-transparent-gray-up {
	position: absolute;
	top:0;
	left:50%;
	width: 0;
	height: 0;
	margin:0;
	border-left: 50vw solid gray;
	border-right: 50vw solid gray;
	border-bottom: $triangleHeight solid transparent;
	transform: translateX(-50vw);
	z-index: 200;

}








/* ------------------------------------------------ */
/*		EFFECTS										*/
/* ------------------------------------------------ */
.slide-effect:hover{
	/* Must have:
		background-size: 200% 100%;
    	background-image: linear-gradient(to right, transparent 50%, #761f8e 0%);
    	in order for the element to slide
    */

	background-position: -100% 0;
}


.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } 
}







/* ============================================================
  SECTION PARALLAX
============================================================ */
section.module{
	margin:0;
	padding:0;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  width: 100vw;
  min-width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax:last-child {
	margin-bottom: 0;
}


/* ------------------------------------------------ */
/*		HELPER CLASSES							*/
/* ------------------------------------------------ */
.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}




/* ------------------------------------------------ */
/*		Media Queries								*/
/* ------------------------------------------------ */




/* iPhone 6 Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

	.section{
		width: 100vw;
		min-width: 100%;
		height: 100%;
		padding:10px;
		margin:0;
		background-color: transparent;
	}
  
	#lp-newsletter,footer,#lp-mission{
		height: 20vh;
	}

	nav {
		.nav-links {
			display: none;
			width:0;
			height:0;
		}
		.nav-title {
			width: 100%;
		}
	}

	#drawer {
		.drawer-side{
			width: 100%;
			padding: 60px 0 0 10%;
		}
		.screen-side{
			width: 0;
		}
	}
	
}





/*============================================
		FORMS
==============================================*/

form{
	margin: 10px;
	padding: 0.5%;
}

button {
	font-size: 1em;
	border-radius: 2%;
	padding: 5px;
}
label {
	font-size: 1.3em;
	padding: 0 10px 0 20px;
}
input {
	font-size: 1.3em;
	padding: 5px;
	border-radius: 2%;
}



