---
layout: default
---

<!-- Hero -->
<div class="hero hero--home">
    <div class="circular-image cffc-logo"></div>
</div>

<!-- Join Us -->
<section id="who-we-are" class="big-ol-panel big-ol-panel--color-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2>Who Are We?</h2>
                <p>
                    Code for Fort Collins is a volunteer organization who develops technology-driven solutions to challenges faced by charities, government agencies, and other groups within the city.
                </p>
                <p>
                    We are community members who want to have a positive impact on Fort Collins. By finding problems, refining solutions, and building them out, we grow professionally and learn new technical skills.
                </p>
                <ul class="centered-row-items">
                    <li>
                        <a href="/about" class="btn btn-lg btn--default btn--wide" title="About Code for Fort Collins">About Us</a>
                    </li>
                    <li>
                        <a href="/category/registry" class="btn btn-lg btn--default btn--wide" title="Members list">Meet our team</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="join-us" class="big-ol-panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Get Involved</h2>
                <p>We are always looking for new members to help with projects, contribute ideas, or come learn with us. Please don't hesitate to reach out to us on your platform of choice.</p>
                <ul class="centered-row-items">
                    <li>
                        <a href="https://www.meetup.com/Code-for-Fort-Collins" title="Code For Fort Collins Meetup group" class="btn btn-lg btn--default btn--wide--mobile"><i class="fa fa-meetup fa-2x" aria-hidden="true"></i>Join our Meetup</a>
                    </li>
                    <li>
                        <a href="https://codeforfocoslack.herokuapp.com" title="Code For Fort Collins Slack group" class="btn btn-lg btn--default btn--wide--mobile" target="_blank"><i class="fa fa-slack fa-2x" aria-hidden="true"></i>Sign up for Slack</a>
                    </li>
                    <li>
                        <a href="https://github.com/codeforfoco" title="Code For Fort Collins GitHub organization" class="btn btn-lg btn--default btn--wide--mobile"><i class="fa fa-github fa-2x" aria-hidden="true"></i>Hack on GitHub</a>
                    </li>
                    <li>
                        <a href="mailto:people@codeforfoco.org" title="Send an email to Code For Fort Collins" class="btn btn-lg btn--default btn--wide--mobile"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>Email Us</a>
                    </li>
                </ul>
                {% include upcoming-meetups.html %}
                <a href="/upcoming-events" class="btn btn-lg btn--default btn--wide" title="Members list">See All Upcoming Events</a>
            </div>
        </div>
    </div>
</section>


<!-- PROJECTS -->
{% if site.projects.size %}
<section id="projects" class="big-ol-panel big-ol-panel--color-bg">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <h2>Current Projects</h2>
                <p>What have we been working on?</p>
            </div>
        </div>
        <div class="row flex-vert-align flex-horiz-center card">
            {% assign sorted = (site.projects | sort: 'date') | reverse %}
            {% for project in sorted limit : 4 %}
            {% if project.path contains 'README' or project.path contains 'index' %}
                    {% continue %}
                {% endif %}
                <div class="col-sm-4 card__inner">
                    <h3 class="card__heading">{{project.title}}</h3>
                    <div class="card__content">
                        <a href="{{ project.url | prepend: site.baseurl }}"
                        class="center-text card__image"
                        style="background-image: url(/assets/images/{{ project.image }});"
                        ></a>
                        <p class="card__caption">{{project.project_summary}}</p>
                        <a href="{{ project.url | prepend: site.baseurl }}" class="btn btn-lg btn--default card__btn">View project</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="/projects/" class="link--subtle">View all Code for Fort Collins projects</a>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- OTHER CODE FOR ORGS -->
<section class="big-ol-panel">
    <div class="container">
        <div class="row">
            <div id="other-orgs" class="col-xs-12">
                <h2>A Family Affair</h2>
                <p>Code For Fort Collins is just one of many similar organizations throughout the country, including some of our sister organizations here in the Front Range.</p>
                <ul class="centered-row-items">
                    <li>
                        <a href="https://www.codeforamerica.org/" class="btn btn-lg btn--default btn--wide--mobile">Code For America</a>
                    </li>
                    <li>
                        <a href="http://www.codefordenver.org/" class="btn btn-lg btn--default btn--wide--mobile">Code For Denver</a>
                    </li>
                    <li>
                        <a href="http://www.codeforboulder.org/" class="btn btn-lg btn--default btn--wide--mobile">Code For Boulder</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>