---
layout: default
---

<!-- Hero -->
<section class="row">
    <div id="hero" class="col-xs-12">
        <img src="/assets/images/cff-logo.svg"/>
    </div>
</section>

<!-- Join Us -->
<section id="join-us" class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center about">
                    We are programmers, designers, hackers, makers, tinkerers, writers and artists and we want to have an impact on the community around us.
                </p>
                <p class="text-center about">
                    We are dedicated to using technology to solve everyday challenges that the people, non-profits, charities, schools, government and grassroots organizations of Fort Collins face.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">
                    <a href="https://github.com/CodeForFoco/org/blob/master/onboarding.md">Want to get involved?</a>
                </h2>
                <ul class="text-center">
                    <a href="https://www.meetup.com/Code-for-Fort-Collins">
                        <li>
                            <i class="fa fa-calendar-plus-o fa-1x" aria-hidden="true"></i>
                            Join Our Meetup</li>
                    </a>
                    <a href="https://codeforfocoslack.herokuapp.com" target="_blank">
                        <li>
                            <i class="fa fa-slack fa-1x" aria-hidden="true"></i>
                            Signup for Slack</li>
                    </a>
                    <a href="https://github.com/codeforfoco">
                        <li>
                            <i class="fa fa-github fa-1x" aria-hidden="true"></i>
                            Hack on Github</li>
                    </a>
                    <a href="mailto:people@codeforfoco.org">
                        <li>
                            <i class="fa fa-envelope fa-1x" aria-hidden="true"></i>
                            Email Us</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Partners -->
<section class="row">
    <div id="partners" class="col-xs-12 marg">
        <div class="col-xs-12 col-md-10 col-lg-offset-1 col-lg-10 col-lg-offset-1">
            <div class="row">
                {% for post in site.categories.partners limit : 9 %}
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img src="/assets/images/{{ post.image }}"/>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <a href="/category/partners/">
                <h4 class="more">View all partners</h4>
            </a>
        </div>
    </div>
</section>

<!-- OTHER CODE FOR ORGS -->
<section class="row">
    <div id="other-orgs" class="col-xs-12">
        <ul class="text-center">
            <a href="https://www.codeforamerica.org/">
                <li>Code For America</li>
            </a>
            <a href="http://www.codefordenver.org/">
                <li>Code For Denver</li>
            </a>
            <a href="http://www.codeforboulder.org/">
                <li>Code For Boulder</li>
            </a>
        </ul>
    </div>
</section>

<!-- PROJECTS -->
{% if site.categories.projects.size %}
    <section class="row">
        <div id="projects" class="col-xs-12">
            <h2 class="text-center marg">What have we been working on?</h2>
            <div class="col-xs-12 col-md-10 col-lg-offset-1 marg">
                <div class="row">
                    {% assign categoryname = "projects" %}
                    {% assign limitsize = 9 %}
                    {% include gallery.html %}
                </div>
                <br/>
                <div class="row">
                    <a href="/category/projects/">
                        <h4 class="more">View all projects</h4>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endif %}
