<article class="page-type--{{ page.categories }}">
    <section class="hero hero--page">
        <div class="container">
            <header class="text-center">
                {% if page.image %}
                    <div class="circular-image subtle-shadow" style="background-image: url('/assets/images/{{ page.image }}');"></div>
                {% else %}
                    <div class="circular-image cffc-logo"></div>
                {% endif %}
                <h2 class="hero__title">{{ page.title }}</h2>
                <p class="post-meta">
                    {% if page.date %}
                        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                        {% if page.author %}
                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <span class="author" itemprop="name">{{ page.author }}</span>
                            </span>
                        {% endif %}
                    {% endif %}
                </p>
            </header>
        </div>
    </section>
    <section class="post-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>
</article>
