---
layout: default
---

<article>
    <section id="hero-page">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% if page.image %}
                    <img class="hero-page-logo" src="/assets/images/{{ page.image }}"/>
                {% else %}
                    <img class="hero-page-logo" src="/assets/images/cff-logo.svg"/>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <h2>{{ page.title }}</h2>
                <p class="post-meta">
                    {% if page.date %}
                        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                        {% if page.author %}
                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <span class="author" itemprop="name">{{ page.author }}</span>
                            </span>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
    <section class="post-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>
</article>
