<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>Connect</h3>
                <ul class="social-links">
                    <li>
                        <a href="mailTo:people@codeforfoco.org">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://codeforfoco.slack.com/">
                            <i class="fa fa-slack fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://github.com/codeforfoco">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/CodeforFoCo/">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/CodeForFoco">
                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.meetup.com/Code-for-Fort-Collins/">
                            <i class="fa fa-meetup fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Organization</h3>
                <ul>
                    {% for post in site.categories.organization limit : 5 %}
                        <li>
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                {{ post.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Important Links</h3>
                <ul>
                    <li>
                        <a href="/category/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="/category/minutes/">Meeting Minutes</a>
                    </li>
                    <li>
                        <a href="/category/partners/">Partners</a>
                    </li>
                    <li>
                        <a href="/category/registry/">Our Team</a>
                    </li>
                    <li>
                        <a href="/category/projects/">Our Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center copyright">&copy;{{ site.copyright }}
        Code for Fort Collins</div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/group-calendar.js"></script>
<script type="text/javascript" src="/assets/js/effects.js"></script>
