<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>Connect</h3>
                <ul class="social-links">
                    <li>
                        <a href="mailTo:people@codeforfoco.org">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://codeforfoco.slack.com/">
                            <i class="fa fa-slack fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://github.com/codeforfoco">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/CodeforFoCo/">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/CodeForFoco">
                            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.meetup.com/Code-for-Fort-Collins/">
                            <i class="fa fa-meetup fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Organization</h3>
                <ul>
                    {% for post in site.categories.organization limit : 5 %}
                        <li>
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                {{ post.title | capitalize }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Categories</h3>
                <ul>
                    {% for category in site.categories %}
                        <li>
                            <a href="/category/{{ category[0] }}/">
                                {{ category[0] | capitalize }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center copyright">&copy;{{ site.copyright }}
        Code for Fort Collins</div>
</footer>
