{% for post in site.categories[categoryname]limit : [limitsize] %}
    <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="gallery-item">
            {% if post.image %}
                <div class="circular-image" style="background-image: url('/assets/images/{{ post.image }}');"></div>
            {% else %}
                <div class="circular-image" style="background-image: url('/assets/images/cff-logo.svg');"></div>
            {% endif %}
            <h4>{{ post.title }}</h4>
        </div>
    </a>
{% endfor %}
