<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}{{ page.title | escape }}
        {% else %}{{ site.title | escape }}{% endif %}
    </title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "/assets/icon/ms-icon-144x144.png" | prepend: site.baseurl }}">
    <meta name="theme-color" content="#ffffff">

    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/icon/apple-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/icon/apple-icon-60x60.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/icon/apple-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/icon/apple-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/icon/apple-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/icon/apple-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/icon/apple-icon-144x144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/icon/apple-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-icon-180x180.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/assets/icon/android-icon-192x192.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/icon/favicon-96x96.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl }}">

    <link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ " /css/main.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml" | prepend: site.baseurl | prepend: site.url }}">

</head>