<header id="site-header" class="top-bar">
    <div class="container flex-vert-align">
        <h1 class="page-title flex-vert-align">
            <a href="{{ site.baseurl }}/" class="flex-vert-align"><img class="logo" src="{{ site.baseurl }}/assets/images/logo.png">{{ site.title }}</a>
        </h1>
        <nav class="site-nav">
            <ul>
                <li>
                    <a href="/join-us/">Join Us</a>
                </li>
                <li>
                    <a href="/category/projects/">Projects</a>
                </li>
                <li>
                    <a href="/category/blog/">Blog</a>
                </li>
                <li>
                    <a class="btn btn-lg btn--call-to-action" href="/donate">Donate!</a>
                </li>
            </ul>
        </nav>
        <a href="#" class="menu-trigger">
            <i class="menu-trigger-bar top"></i>
            <i class="menu-trigger-bar middle"></i>
            <i class="menu-trigger-bar bottom"></i>
        </a>
    </div>
</header>

{% include popup-menu.html %}
