<header id="site-header" class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="page-title">
                    <a href="{{ site.baseurl }}/">
                        <img id="popmenu" class="logo" src="{{ site.baseurl }}/assets/images/logo.png">{{ site.title }}
                    </a>
                </h1>
            </div>
            <div class="col-md-8">
                <nav class="site-nav">
                    <ul>
                        {% for category in site.categories %}
                            <li>
                                <a href="/category/{{ category[0] }}/">{{ category[0] | capitalize }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <a class="donate-button" href="https://secure.codeforamerica.org/page/contribute/default?brigade=CodeForFoCo">Donate</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

{% include popup-menu.html %}
