<li class="row">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="list-item">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {% if post.image %}
          <img src="/assets/images/{{ post.image }}"/>
        {% else %}
          <img src="/assets/images/default.png"/>
        {% endif %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="row">
          <div class="meta">
              <h3>{{ post.title }}</h3>
              {{ post.date | date: "%b %-d, %Y" }}
            <div class="row">
              <p>{{ post.excerpt }}</p>
            </div>
        </div>
      </div>
    </div>
  </a>
</li>