<div class="posts-list-item">
    <div class="row">
        <div class="col-xs-12 col-sm-4 posts-list__thumb">
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                {% if post.image %}
                    <img src="/assets/images/{{ post.image }}"/>
                {% else %}
                    <img src="/assets/images/cff-logo.svg"/>
                {% endif %}
            </a>
        </div>
        <div class="col-xs-12 col-sm-8 posts-list__text">
            {% if show_excerpt != false %}
                <h2 class="posts-list__heading">
                    <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                <p>{{ post.content }}</p>
            {% endif %}
        </div>
    </div>
</div>
