<section id="popup-menu" class="col-xs-12 text-center">
    <div class="col-xs-12 popup-menu__content">
        <nav>
            <ul class="internal-links">
                <li>
                    <a href="/category/blog/">Blog</a>
                </li>
                <li>
                    <a href="/category/organization/">Organization</a>
                </li>
                <li>
                    <a href="/category/partners/">Partners</a>
                </li>
                <li>
                    <a href="/category/registry/">Our Team</a>
                </li>
                <li>
                    <a href="https://docs.google.com/forms/d/1dQGjgGF1a3ZbquO2x_68XZLIgFbe-iQ6IWb1QILkmes/viewform?edit_requested=true" title="Google Form to submit project idea" target="_blank">Submit Ideas</a>
                </li>
                <li>
                    <a href="/donate">Donate!</a>
                </li>
            </ul>
            <hr>
            <ul class="social-links">
                <li>
                    <a href="mailTo:people@codeforfoco.org">
                        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://codeforfoco.slack.com/">
                        <i class="fa fa-slack fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/codeforfoco">
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/CodeforFoCo/">
                        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/CodeForFoco">
                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.meetup.com/Code-for-Fort-Collins/">
                        <i class="fa fa-meetup fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <hr/>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/license">
                        <span class="copyright">&copy;
                            {{ site.copyright }}
                            codeforfoco.org</span>
                    </a>
                </li>
            </ul>
            <hr/>
        </nav>
    </div>
</section>
