<section id="popup-menu" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
	<div class="content">
		<h4>{{ site.title }}</h4>
	    <hr/>
	    <nav class="row">
	      <ul class="text-center social">
  				<li class="social"><a href="mailTo:people@codeforfoco.org"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
  				<li class="social"><a href="https://codeforfoco.slack.com/"><i class="fa fa-slack fa-2x" aria-hidden="true"></i></a></li>
  				<li class="social"><a href="http://github.com/codeforfoco"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
  				<li class="social"><a href="https://www.facebook.com/CodeforFoCo/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
          <li class="social"><a href="https://twitter.com/CodeForFoco"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          <li class="social"><a href="http://www.meetup.com/Code-for-Fort-Collins/"><img src="/assets/images/meetup-logo.png"/></a></li>
	      </ul>
	    <hr/>
		    <ul class="text-center">
		        {% for category in site.categories %}
		            <li><a href="/category/{{ category[0] }}/">{{ category[0] | capitalize }}</a></li>
		        {% endfor %}

		    </ul>
		<hr/>
		    <ul class="text-center">
		    	<li><a href="{{ site.baseurl }}/license"><span class="copyright">&copy; codeforfoco.org</span></a></li>
		    </ul>

	    <hr/>
		</nav>
	</div>
</section>
