/**
 * BUTTONS, TINY PIECES, ETC.
 */

// Bootstrap overrides
.btn {
  border: $white dashed 1px;
  border-radius: 3px;
  .fa {
    margin-right: 5px;
  }
}

// Custom Bootstrap button color
.btn--call-to-action {
  color: $white;
  background-color: $call-to-action-color;
  box-shadow: 0 0 0 4px $call-to-action-color, 2px 1px 6px 4px rgba(10, 10, 0, .5);

  &:hover {
    color: $call-to-action-color;
    background-color: $white;
  }
}

.btn--default {
  color: $white;
  background-color: $btn-default-bg;
  box-shadow: 0 0 0 4px $btn-default-bg, 2px 1px 6px 4px rgba(10, 10, 0, .5);

  &:hover {
    color: $btn-default-bg;
    border-color: $btn-default-bg;
    background-color: $white;
  }
}

.centered-row-items {
  display: flex;

  justify-content: center;
  > li:not(:last-of-type) {
    margin-right: 15px;
  }
}
/**
 * Tilted hamburger-ish mobile nav menu toggle
 * Inspired by: https://codepen.io/karlovidek/pen/aNYWKE
 */

// Container
.menu-trigger {
  display: block;

  width: 40px;
  margin-right: 6px;

  // Hide on larger screens
  @media (min-width: 768px) {
    display: none;
  }
}

// The individual bars
.menu-trigger-bar {
  position: relative;

  display: block;

  width: 100%;
  height: 3px;
  margin-bottom: 6px;

  transition: transform 300ms;

  background-color: $medium-blue;

  $small-bar-size: 50%;

  &.middle {
    transform: rotate(-45deg);
  }

  &.bottom,
  &.top {
    width: $small-bar-size;

    transform: rotate(-45deg) translateX(0) translateY(0);
  }

  &.bottom {
    margin-left: $small-bar-size;
  }
}

// When menu is active
.close-trigger .menu-trigger-bar {
  &.top {
    transform: rotate(45deg) translateX(2px) translateY(-2px);
  }

  &.bottom {
    transform: rotate(45deg) translateX(-2px) translateY(0);
  }
}

/**
 * Big ol' vertical paddin'
 */
.big-ol-panel {
  font-size: 2.3rem;

  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 12em;
  padding-top: 2em;
  padding-bottom: 2em;

  text-align: center;

  justify-content: center;

  p {
    font-size: .7em;
  }

  /**
  * Stripes
  */
  &--color-bg {
    color: $white;
    background: radial-gradient(hsla(206, 79%, 28%,.3),hsla(206, 79%, 28%,.3)), url(../assets/images/dark_fish_skin.png); // credit: subtlepatterns.com

    $thin-border: .07em;
    $thick-border: .2em;

    &:before,
    &:after {
      position: absolute;

      display: block;

      width: 100%;
      height: .9em;

      content: '';

      border-width: 0;
      border-style: solid;
      border-color: $medium-blue;
      background-color: transparentize($light-blue,.3);
    }

    &:before {
      top: 0;

      border-top-width: $thick-border;
      border-bottom-width: $thin-border;
    }

    &:after {
      bottom: 0;

      border-top-width: $thin-border;
      border-bottom-width: $thick-border;
    }
  }
}

/**
 * Fancypants pseudo-<hr>
 */
.heading--fancy-hr {
  display: flex;
  flex-direction: column;

  &:after {
    font-size: .5em;

    content: '{{ }}';
  }

  &:before {
    position: relative;
    top: -.25em;

    height: 1px;

    content: '';

    order: 2;
    @include mq(mobile) {
      background: linear-gradient(
      to right,
      transparentize($near-white, .9),
      $near-white 40%,
      $transparent 40%,
      $transparent 60%,
      $near-white 60%,
      transparentize($near-white, .9)
      );
    }
    @include mq($from: tablet) {
      background: linear-gradient(
      to right,
      transparentize($near-white, .9),
      $near-white 44%,
      $transparent 44%,
      $transparent 56%,
      $near-white 56%,
      transparentize($near-white, .9)
      );
    }
  }
}
