/**
 * Components: things not big enough to be modules
 */

/**
 * Big ol' vertical paddin'
 */
.big-ol-panel {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 12em;
  padding-top: 2em;
  padding-bottom: 2em;

  text-align: center;

  @include mq(mobile) {
    font-size: 1.7rem;
  }
  @include mq($from: tablet) {
    font-size: 2.3rem;
  }
  justify-content: center;

  // The background
  &:before {
    position: absolute;

    width: 100%;
    height: 100%;

    content: '';
  }

  p {
    font-size: .7em;
  }

  &--color-bg {
    color: $white;
    background: $textured-panel-bg;

    $thin-border: .07em;
    $thick-border: .2em;

    &:before,
    &:after {
      position: absolute;

      display: block;

      width: 100%;
      height: .9em;

      content: '';

      border-width: 0;
      border-style: solid;
      border-color: $medium-blue;
      background-color: transparentize($light-blue,.3);
    }

    &:before {
      top: 0;

      border-top-width: $thick-border;
      border-bottom-width: $thin-border;
    }

    &:after {
      bottom: 0;

      border-top-width: $thin-border;
      border-bottom-width: $thick-border;
    }
  }
}

/**
 * Fancypants pseudo-<hr>
 */
.heading--fancy-hr {
  display: flex;
  flex-direction: column;

  &:after {
    font-size: .5em;

    margin-top: .2em;

    content: '{\a0\a0}';
  }

  &:before {
    position: relative;
    top: -.25em;

    height: 1px;

    content: '';

    order: 2;
    @include mq(mobile) {
      background: linear-gradient(
      to right,
      transparentize($near-white, .9),
      $near-white 40%,
      $transparent 40%,
      $transparent 60%,
      $near-white 60%,
      transparentize($near-white, .9)
      );
    }
    @include mq($from: tablet) {
      background: linear-gradient(
      to right,
      transparentize($near-white, .9),
      $near-white 44%,
      $transparent 44%,
      $transparent 56%,
      $near-white 56%,
      transparentize($near-white, .9)
      );
    }
  }
}

/**
 * Social link icons
 */
ul.social-links {
  display: flex;

  padding: 0;

  justify-content: space-around;
  align-items: center;
}
