/**
 * BUTTONS, TINY PIECES, ETC.
 */

.donate-button {
    background-color: $dark-red;
    padding: 14px;
    color: $white;
    border-radius: 7px;
    box-shadow: 2px 2px 5px gray;
    font-weight: bold;
    border: solid 1px $dark-red;

    &:hover {
        color: $dark-red;
        background-color: $white;
    }
}
