/*
    STYLES.CSS

    I.      Structure Classes - contains classes that reference
            the layout. Grid is done with bootstrap

    II.     Typography

    III.    Header Classes - for header tags, contains classes
            for Navigation and social icons

    IV.     Section Classes - I divided each section up and gave it
            an ID. That way I can set heights and organize my layout
            better. Also contains classes for my full page templates
            of #posts and #archives

    V.      Full Screen Template Classes - These are for the page.html,
            post.html and category.html

    VI.      List Classes - This contains multiple classes for all of
            my repeating _includes like list.html.
            -   I have 3 default classes setup for this.
                1.  Gallery - square with pic in background. 3 to row.
                2.  List - Size can be set by bootstrap columns in html.
                    Has an image to the left, information to the right.
                3.  Thumb - Small version of list with image and title
                4.  Just the Title
                5.  Just the Image

    VI.     Footer Classes - bootstrap grid can be changed in html. Default
            3 column. Contains classes for copyright and social.

    VII.    Popup Menu - displays the menu over all content. Mainly for
            mobile. see /assets/js/effects.js for the toggle function
*/


/*=================================
    I.  STRUCTURE CLASSES
===================================*/
body{
    /*set default colors*/
    background-color: #fff;
    color: #0F4E7E;
}

.marg{
    padding-top: 4%;
    padding-bottom: 4%;
}
.marg-big{
    padding-top: 12%;
}

/*=================================
    II. TYPOGRAPHY CLASSES
===================================*/
/*
    red-orange: #FF5300; rgba(255,83, 0, 1); eaa319
    hover - Light Red-Orange: #F8AC51;
    Blue-gray: #399ED2;
*/

h1{ display: inline-block; font-size: 1.7em; font-family: 'Quantico', sans-serif; line-height: 70px; color: #000; }
h2{ font-size: 2em; font-family: 'Quantico', sans-serif; }
h3{ font-size: 1.7em; font-family: 'Quantico', sans-serif; margin: 1% 0 1% 0; }
h4{ font-family: 'Quantico', sans-serif; font-size: 1.4em; color: #0F4E7E; padding: 1%; }
p{ font-size: 1em; font-family: 'Lato', sans-serif; margin-top: 1em }
a{ font-size: 1em; font-family: 'Lato', sans-serif; color: #6A6B6D; transition: 0.2s; }
a:hover { text-decoration: none; color: #0F4E7E; }
a:active { text-decoration: none; color: #F8AC51; }

ul{ list-style-type: none; }
li { font-size: 1.2em;}

.more{
    font-size: 1em;
    padding-right: 7%;
    float: right;
    font-family: 'Quantico', sans-serif;
    color: #eaa319;
}
.copyright {
    font-size: 1.4em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}



/*=================================
    III.    HEADER CLASSES
===================================*/
header{
    position: fixed;
    top:0;
    left:0;
    height: 70px;
    width: 100vw;
    z-index: 100;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: background-color 0.4s; /* see effects.js scroll effect */

    h1{
      display: inline-block;
      margin:0;
    }
}
header img{ /* Logo */
    display: inline-block;
    margin: 0 auto 0 auto;
    width: 70px;
    cursor: pointer;
}

/* -- Primary menu -- */
nav ul{
    float: right;
    width: 100%;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    padding: 0 2% 0 2%;

}
nav ul li a{
    color: #000;
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header nav ul{
        display: none;
    }
    header {
        border-bottom: none;
    }
}
@media (max-width: 1000px) {
    header nav ul{
        display: none;
    }

}



/*=================================
    IV. SECTION CLASSES
===================================*/
/* -- Section at top of landing page -- */
/* #hero is for our landing page
#hero-page is for our page.html, page.html and category.html(archive)*/
#hero, #hero-page{
    height: 550px;
    background: linear-gradient(to bottom right,rgba(195,172,11,0.4),rgba(15,78,126,0.4)), url('../assets/images/hero-one.jpg') center center no-repeat;
    background-size: cover;
}


/* Center image vertically and horizontally - works on <IE8*/
#hero img
{
    position: absolute;
    max-width: 30%;
    top: 10%;
    left: 10%;
}
#hero img:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#hero-page{
    min-height: 350px;
    height: 100%;
    padding: 10% 0 10% 0;
}
#hero-page .container {
    padding-top: 7%;
}
#hero-page h2{
    padding-top: 50px;
    font-size: 3em;
    color: #fff;
}
#hero-page p{
    color: #fff;
}
#hero-page time{
    padding: 0 2% 0 2%;
}
#hero-page .author{
    padding: 0 2% 0 2%;
}
#hero-page .hero-page-logo{
    height: 200px;
    width: 300px;
}




/*Join Us section and Other Orgs section on landing page*/
#join-us {
    padding-top: 4%;
    padding-bottom: 4%;
    height: 100%;
    background: #9FB8CB;

    p{
      &.about {
        font-size: 2rem;
      }
    }
}
#other-orgs{
    padding: 0;
    background: #B70A29;
}
#join-us ul {
    padding: 2%;
}
#join-us ul li, #other-orgs ul li{
    display: inline-block;
    margin: 1%;
    padding: 1%;
    width: 280px;
    background-color: #B70A29;
    color: #fff;
    font-size: 1.4em;
}
#join-us ul li a, #other-orgs ul li a{
    color: #fff;
}
#join-us ul li:hover, #other-orgs ul li:hover{
    box-shadow: 1px 1px 3px #000;
    color: #9abce0;
}


/* -- Partners section on landing page -- */
#partners{
    height: 100%;
    min-height: 350px;
    background: linear-gradient(to bottom right,rgba(0,155,193,0.4),rgba(0,155,193,0.4)), url('../assets/images/bg-75.jpg') center center no-repeat;
    background-size: cover;
}
#partners h4{
    color: #fff;
}
#partners img{
    display: inline-block;
    width: 100%;
    max-width: 350px;
    height: 150px;
    margin: 1%;
    background-color: transparent;
    opacity: 0.8;
    transition: 0.2s;
}
#partners img:hover{
    opacity: 1;
}








/*=================================
    V. FULLSCREEN TEMPLATES
===================================*/
#post{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    padding: 7%;
    background-color: #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100;
}
#archive{
    padding: 4%;
}




/*==================================================
    VI.  LIST CLASSES
====================================================*/
/*GALLERY CLASSES - these are used in _includes/gallery.html*/
.gallery-item{
    position: relative;
    display: inline-block;
    width: 30%;
    min-width: 300px;
    max-width: 450px;
    height: 330px;
    background-color: transparent;
    transition: 0.25s;
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .gallery-item{
        width: 100%;
    }
}
.gallery-item img{
   position: absolute;
    top:0;
    left:0;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: transparent;
}
.gallery-item h4 {
    position: absolute;
    color: #000;
    top:35%;
    left:0;
    width: 100%;
    padding: 2%;
    margin: 0;
    background-color: rgba(255,255,255,0.7);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.gallery-item:hover{
    opacity: 1;
}


/* LIST CLASSES - These are used in _includes/list.html*/
.list-item{
    background-color: transparent;
    margin-bottom: 1%;
    padding: 0;
    height: 200px;
    width: 100%;
}
.list-item img{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 350px;
    height: 350px;
    background-color: transparent;
}
.list-item .meta{
    padding: 10% 1% 1% 3%;
}
.list-item .meta p{
    padding: 1% 1% 1% 5%;
}

/*for the for loop for the Title only*/
.title-list-item{ /*used in footer.html*/
    padding: 1%;
}




/*=================================
    VI. FOOTER CLASSES
===================================*/
footer{
    height: 100%;
    min-height: 300px;
    background-color: #9FB8CB;
    padding: 2%;
}




/*=================================
    VI. POPUP MENU CLASSES
===================================*/
#popup-menu{
    display: none;
    position: fixed;
    top:0; right:0;  bottom:0; left:0; /* Covers the entire viewing screen */

    padding: 10%;
    background: linear-gradient(to bottom right,rgba(0,155,193,0.4),rgba(0,155,193,0.4)), url('../assets/images/bg-75.jpg') center center no-repeat;
    z-index: 50;
}
#popup-menu .content{
    width: 80%;
    margin: 0 auto 0 auto;/*center content on screen*/
    background: white;
}

#popup-menu nav ul{

}
#popup-menu nav ul li{
    display: block;
}
#popup-menu nav ul .social {
    display: inline-block;
}


/*=================================
    VII. MISC
===================================*/
.post-content {

  p {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  li {
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  ol {
    list-style-type: decimal;
  }

  strong {
    font-weight: 700;
  }
}
