/*
    STYLES.CSS

    I.      Structure Classes - contains classes that reference
            the layout. Grid is done with bootstrap

    II.     Typography

    III.    Header Classes - for header tags, contains classes
            for Navigation and social icons

    IV.     Section Classes - I divided each section up and gave it
            an ID. That way I can set heights and organize my layout
            better. Also contains classes for my full page templates
            of #posts and #archives

    V.      Full Screen Template Classes - These are for the page.html,
            post.html and category.html

    VI.      List Classes - This contains multiple classes for all of
            my repeating _includes like list.html.
            -   I have 3 default classes setup for this.
                1.  Gallery - square with pic in background. 3 to row.
                2.  List - Size can be set by bootstrap columns in html.
                    Has an image to the left, information to the right.
                3.  Thumb - Small version of list with image and title
                4.  Just the Title
                5.  Just the Image

    VI.     Footer Classes - bootstrap grid can be changed in html. Default
            3 column. Contains classes for copyright and social.

    VII.    Popup Menu - displays the menu over all content. Mainly for
            mobile. see /assets/js/effects.js for the toggle function
*/

/*=================================
    I.  STRUCTURE CLASSES
===================================*/
.marg {
  padding-top: 4%;
  padding-bottom: 4%;
}

.marg-big {
  padding-top: 12%;
}

/*=================================
    II. TYPOGRAPHY CLASSES
===================================*/
/** MOSTLY MOVED TO _elements.scss **/
/*
    red-orange: #FF5300; rgba(255,83, 0, 1); eaa319
    hover - Light Red-Orange: #F8AC51;
    Blue-gray: #399ED2;
*/


.list {
  &--even-distrib {
    display: flex;

    justify-content: space-around;
  }
}

/*=================================
    III.    HEADER CLASSES
===================================*/
/** MOVED TO _modules.scss **/

/*=================================
    IV. SECTION CLASSES
===================================*/
/** HERO MOVED TO modules/_module.hero.scss **/

/* -- Partners section on landing page -- */
#partners {
  background: linear-gradient(to bottom right,rgba(0,155,193,.4),rgba(0,155,193,.4)), url('../assets/images/bg-75.jpg') center center no-repeat;
  background-size: cover;
}

#partners h4 {
  color: #fff;
}

#partners img {
  display: inline-block;

  max-width: 100%;
  height: 10rem;

  transition: transform .2s;
  transform: scale3d(1,1,1);

  background-color: transparent;
}

#partners img:hover {
  transform: scale3d(1.1,1.1,1);
}

/*=================================
    V. FULLSCREEN TEMPLATES
===================================*/
#post {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: none;
  overflow-x: hidden;
  overflow-y: scroll;

  width: 100vw;
  height: 100vh;
  padding: 7%;

  background-color: #ccc;
}

#archive {
  padding: 4%;
}

/*==================================================
    VI.  LIST CLASSES
====================================================*/
/** GALLERY CLASSES - moved to modules/_module.gallery.scss **/

/* LIST CLASSES - These are used in _includes/list.html*/
.list-item {
  width: 100%;
  height: 200px;
  margin-bottom: 1%;
  padding: 0;

  background-color: transparent;
}

.list-item img {
  display: block;

  max-width: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
}

.list-item .meta {
  padding: 10% 1% 1% 3%;
}

.list-item .meta p {
  padding: 1% 1% 1% 5%;
}

/*for the for loop for the Title only*/
.title-list-item {
  /*used in footer.html*/
  padding: 1%;
}

/*=================================
    VI. FOOTER CLASSES
===================================*/
.site-footer {
  min-height: 25vh;
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: $header-footer-bg;
}

/*=================================
    VI. POPUP MENU CLASSES
===================================*/
/** MOVED TO _modules.scss **/

/*=================================
    VII. MISC
===================================*/
.post-content {
  p {
    margin-top: .8rem;
    margin-bottom: .8rem;
  }

  li {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
  }

  ol {
    list-style-type: decimal;
  }

  strong {
    font-weight: 700;
  }
}
