/*
    STYLES.CSS

    I.      Structure Classes - contains classes that reference
            the layout. Grid is done with bootstrap

    II.     Typography

    III.    Header Classes - for header tags, contains classes
            for Navigation and social icons

    IV.     Section Classes - I divided each section up and gave it
            an ID. That way I can set heights and organize my layout
            better. Also contains classes for my full page templates
            of #posts and #archives

    V.      Full Screen Template Classes - These are for the page.html,
            post.html and category.html

    VI.      List Classes - This contains multiple classes for all of
            my repeating _includes like list.html.
            -   I have 3 default classes setup for this.
                1.  Gallery - square with pic in background. 3 to row.
                2.  List - Size can be set by bootstrap columns in html.
                    Has an image to the left, information to the right.
                3.  Thumb - Small version of list with image and title
                4.  Just the Title
                5.  Just the Image

    VI.     Footer Classes - bootstrap grid can be changed in html. Default
            3 column. Contains classes for copyright and social.

    VII.    Popup Menu - displays the menu over all content. Mainly for
            mobile. see /assets/js/effects.js for the toggle function
*/

/*=================================
    I.  STRUCTURE CLASSES
===================================*/
body {
  font-family: 'Lato', sans-serif;

  background-color: $white;
}

.marg {
  padding-top: 4%;
  padding-bottom: 4%;
}

.marg-big {
  padding-top: 12%;
}

/*=================================
    II. TYPOGRAPHY CLASSES
===================================*/
/*
    red-orange: #FF5300; rgba(255,83, 0, 1); eaa319
    hover - Light Red-Orange: #F8AC51;
    Blue-gray: #399ED2;
*/

html {
  font-size: 15px;

  @include mq(tablet) {
    font-size: 16px;
  }
  @include mq(desktop) {
    font-size: 17px;
  }
  @include mq($from: wide) {
    font-size: 18px;
  }
}

h1,
h4,
h5,
h6 {
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.6em;

  margin: 0 0 .2em;
}

h3 {
  font-size: 1.5em;

  margin: .2em 0 0;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1em;

  margin: .9em auto;
}

a {
  transition: .2s;

  color: $link-color;

  &:hover {
    text-decoration: none;

    color: $link-color-hover;
  }

  &:active {
    text-decoration: none;

    color: #f8ac51;
  }
}

ul {
  padding: 0;

  list-style-type: none;
}

.list {
  &--even-distrib {
    display: flex;

    justify-content: space-around;
  }
}

/*=================================
    III.    HEADER CLASSES
===================================*/
/** MOVED TO _modules.scss **/

/*=================================
    IV. SECTION CLASSES
===================================*/
/* -- Section at top of landing page -- */
/* #hero is for our landing page
#hero-page is for our page.html, page.html and category.html(archive)*/
#hero,
#hero-page {
  position: relative;

  height: 550px;

  background: linear-gradient(to bottom right,rgba(195,172,11,.4),rgba(15,78,126,.4)), url('../assets/images/hero-one.jpg') center center no-repeat;
  background-size: cover;
}

/* Center image vertically and horizontally - works on <IE8*/
#hero img {
  position: absolute;
  top: 10%;
  left: 10%;

  max-width: 30%;
}

#hero img:empty {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#hero-page {
  min-height: 20rem;
  padding: 10% 0;
}

#hero-page .container {
  padding-top: 7%;
}

#hero-page h2 {
  font-size: 3rem;

  padding-top: 3rem;

  color: #fff;
}

#hero-page p {
  color: #fff;
}

#hero-page .hero-page-logo {
  width: 300px;
}

#hero-page time {
  padding: 0 2%;
}

#hero-page .author {
  padding: 0 2%;
}

#hero-page .hero-page-logo {
  width: 300px;
  height: 200px;
}

#other-orgs {
  background: #b70a29;
}

/* -- Partners section on landing page -- */
#partners {
  background: linear-gradient(to bottom right,rgba(0,155,193,.4),rgba(0,155,193,.4)), url('../assets/images/bg-75.jpg') center center no-repeat;
  background-size: cover;
}

#partners h4 {
  color: #fff;
}

#partners img {
  display: inline-block;

  max-width: 100%;
  height: 10rem;

  transition: transform .2s;
  transform: scale3d(1,1,1);

  background-color: transparent;
}

#partners img:hover {
  transform: scale3d(1.1,1.1,1);
}

/*=================================
    V. FULLSCREEN TEMPLATES
===================================*/
#post {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: none;
  overflow-x: hidden;
  overflow-y: scroll;

  width: 100vw;
  height: 100vh;
  padding: 7%;

  background-color: #ccc;
}

#archive {
  padding: 4%;
}

/*==================================================
    VI.  LIST CLASSES
====================================================*/
/*GALLERY CLASSES - these are used in _includes/gallery.html*/
.gallery-item {
  position: relative;

  display: inline-block;

  width: 30%;
  min-width: 300px;
  max-width: 450px;
  height: 330px;

  transition: .25s;

  background-color: transparent;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .gallery-item {
    width: 100%;
  }
}

.gallery-item img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
}

.gallery-item h4 {
  font-size: 20px;
  font-weight: bold;

  position: absolute;
  top: 35%;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 2%;

  text-align: center;

  color: #000;
  background-color: rgba(255,255,255,.7);
}

.gallery-item:hover {
  opacity: 1;
}

/* LIST CLASSES - These are used in _includes/list.html*/
.list-item {
  width: 100%;
  height: 200px;
  margin-bottom: 1%;
  padding: 0;

  background-color: transparent;
}

.list-item img {
  display: block;

  max-width: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
}

.list-item .meta {
  padding: 10% 1% 1% 3%;
}

.list-item .meta p {
  padding: 1% 1% 1% 5%;
}

/*for the for loop for the Title only*/
.title-list-item {
  /*used in footer.html*/
  padding: 1%;
}

/*=================================
    VI. FOOTER CLASSES
===================================*/
.site-footer {
  min-height: 25vh;
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: $header-footer-bg;
}

/*=================================
    VI. POPUP MENU CLASSES
===================================*/
/** MOVED TO _modules.scss **/

/*=================================
    VII. MISC
===================================*/
.post-content {
  p {
    margin-top: .8rem;
    margin-bottom: .8rem;
  }

  li {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
  }

  ol {
    list-style-type: decimal;
  }

  strong {
    font-weight: 700;
  }
}
