/**
 * Things that are too big to be components
 */

// Container for logo, nav, etc.
.top-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: $site-header-height;

  transition: background-color .4s;

  border-bottom: 1px solid rgba(0,0,0,.2);
  background-color: transparentize($white, .2);
  box-shadow: 0 0 4px #999;
  /* see effects.js scroll effect */

  &--opaque {
    background-color: transparentize($white, .05);
  }

  .container {
    @include mq($until: tablet) {
      display: flex;

      padding: 0 5px;

      align-items: center;
      justify-content: space-between;
    }
    @include mq($until: desktop) {
      width: 100%;
    }
  }
}

// Logo and page title container
.page-title {
  display: inline-block;
  flex: 1;

  margin: 0;

  // Link to home page
  a {
    font-family: $heading-font;

    display: block;

    transition: color 300ms;

    color: $medium-blue;

    &:hover {
      color: lighten($medium-blue, 10%);
    }
  }

  .logo {
    display: inline-block;

    height: $site-header-height;
    width: $site-header-height;
    margin: 0 auto;

    cursor: pointer;
  }
}

// Nav menu
.site-nav {
  display: inline-block;
  float: right;

  text-align: right;

  ul {
    margin: 0;

    @include flex-vert-align;
  }

  @include mq($until: tablet) {
    ul {
      display: none;
    }
  }
}

.site-nav ul > li {
  padding: 0 8px;
}

/**
 * The hidden mobile nav menu
 */
#popup-menu {
  position: fixed;
  z-index: 50;
  top: $site-header-height;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background: linear-gradient(to bottom right,rgba(0,155,193,.4),rgba(0,155,193,.4)), url('../assets/images/bg-75.jpg') center center no-repeat;
}

.popup-menu__content {
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: $white;
  box-shadow: 0 4px 15.4px rgba(15, 79, 128, .9);

  // Links to pages within the site
  .internal-links li {
    line-height: 2;

    a {
      font-size: 1.2rem;
    }

    &:not(:last-of-type) {
      border-bottom: dashed 1px $white;
    }
  }
}

#popup-menu ul {
  padding: 0;
}

ul.social-links {
  display: flex;

  padding: 0;

  justify-content: space-around;
  align-items: center;
}
