/**
 * COLORS
 */

// General
$transparent: hsla(0,0,0,0);
$white: #fff;
$near-white: #ddd;
$near-black: #111;
$near-ish-black: #222;

// From the logo
$dark-red: hsl(349, 90%, 38%);
$medium-blue: hsl(206, 79%, 28%);
$gold: hsl(52, 89%, 40%);
$light-blue: hsl(206, 30%, 71%);

// Components
$link-color: $medium-blue;
$link-color-hover: lighten($link-color, 10%);
$call-to-action-color: $dark-red;
$big-ol-panel-bg: $light-blue;
$hipster-bg: linear-gradient(to bottom right,rgba(195,172,11,0.4),rgba(0,155,193,0.4)), url('../assets/images/bg-75.jpg') center center no-repeat;
$header-footer-bg: $white;
$btn-default-bg: saturate($medium-blue, 1);

/**
 * FONTS
 */
$heading-font: 'Quantico', sans-serif;

/**
 * LAYOUT
 */
$site-header-height: 4rem;

 /**
 * BREAKPOINTS (using sass-mq)
 */
 $mq-breakpoints: (
  mobile:  320px,
  tablet:  768px,
  desktop: 1024px,
  wide:    1300px
);
