/**
 * COLORS
 */

// General
$white: #fff;
$near-black: #111;

// From the logo
$dark-red: hsl(349, 90%, 38%);
$medium-blue: hsl(206, 79%, 28%);
$gold: hsl(52, 89%, 40%);
$light-blue: hsl(206, 30%, 71%);

/**
 * COMPONENTS
 */
$link-color: $medium-blue; // Not consistent, but probably should be
$call-to-action-color: $dark-red; // Not consistent, but probably should be
$big-ol-panel-bg: $light-blue;

/**
 * FONTS
 */
$heading-font: 'Quantico', sans-serif;

/**
 * LAYOUT
 */
 $site-header-height: 70px;
