/* #hero is for our landing page
#hero-page is for our page.html, page.html and category.html(archive)*/
#hero,
#hero-page {
  display: flex;

  margin-top: $site-header-height;

  @include mq($until: mobile) {
    height: 20rem;
  }
  @include mq(tablet) {
    height: 30rem;
  }
  align-items: center;
  justify-content: center;
}

#hero img {
  position: relative;

  height: 50vh;
  max-width: 100%;
}

#hero-page {
  min-height: 20rem;
  padding: 10% 0;
}

#hero-page .container {
  padding-top: 7%;
}

#hero-page h2 {
  font-size: 3rem;

  padding-top: 3rem;

  color: #fff;
}

#hero-page p {
  color: #fff;
}

#hero-page .hero-page-logo {
  width: 300px;
}

#hero-page time {
  padding: 0 2%;
}

#hero-page .author {
  padding: 0 2%;
}

#hero-page .hero-page-logo {
  width: 300px;
  height: 200px;
}
