/**
 * Card: similar to Bootstrap "panel"
 */
$card-gutter: 14px;

// Parent/outer Bootstrap row
.card.row {
  margin-top: 0;
  margin-bottom: 1em;
  // Account for inconsistent height (centering looks weird)
  align-items: flex-start;
}

// Inner content
.card .card__inner {
  border: solid $card-border 1px;
  border-radius: 5px;

  // Override Bootstrap columns so we can have a full-width header bg
  &[class^='col-'] {
    padding: 0;
    margin: $card-gutter;
  }

  @include mq($from: desktop) {
    margin: 0 10px;
  }
}

// Minimal button styling under the assumption is that it's already fancy
.card__btn {
  margin: .5em 0 1.3em;
}

// Title/heading
.card__heading {
  border-bottom: dashed 1px $card-border;
  background-color: transparentize($medium-blue, .8);
  font-size: .85em;
  height: 2.9em;
  justify-content: center;
  padding: $card-gutter;
  margin: 0;
  @include flex-vert-align;
}

// Container of links, description, button
.card__content {
  padding: $card-gutter;
}

// Project logo and link
.card__image {
  display: inline-block;
  background-size: contain;
  background-color: transparentize($medium-blue, .8);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: dashed 2px $card-border;
  border: dashed $barely-white 2px;
  height: 4.5em;
  width: 4.5em;
  margin: .5em 0 .4em;
}

// Project summary
.card__inner .card__caption {
  font-size: .65em;
  margin: 0 auto .5em;

  @include mq($from: tablet) {
    font-size: .45em;
  }
}
