/**
 * Large, decorative, container-level wrappers
 */
.big-ol-panel {
  font-size: 1.7rem;

  display: flex;
  flex-direction: column;

  text-align: center;

  background-color: transparentize($white, .8);

  @include spacious-panel;

  @include mq($from: tablet) {
    font-size: 2.3rem;
  }
  justify-content: center;

  p {
    font-size: .7em;
    line-height: 1.5;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $default-font-fam;
  }

  h2 {
    @include fancy-code-hr($near-black);
  }

  &--color-bg {
    @include textured-bg;
    $thin-border: .07em;
    $thick-border: .2em;

    h2,
    h3,
    h4,
    h5 {
      color: $near-white;
    }

    h2 {
      @include fancy-code-hr($white);
    }

    &:before,
    &:after {
      position: absolute;

      display: block;

      width: 100%;
      height: .9em;

      content: '';

      border-width: 0;
      border-style: solid;
      border-color: $medium-blue;
      background-color: transparentize($light-blue,.3);
    }

    &:before {
      top: 0;

      border-top-width: $thick-border;
      border-bottom-width: $thin-border;
    }

    &:after {
      bottom: 0;

      border-top-width: $thin-border;
      border-bottom-width: $thick-border;
    }
  }
}
