.meetup-list {
  font-size: .95rem;
}

.meetup-list__item {
  font-size: 1em;

  margin-bottom: 1em;
}

.meetup-list__heading {
  font-size: 1.7em;
  line-height: 1;
}

.meetup-list__date {
  display: block;
}
