/* .hero--home is for our landing page
.hero--page is for our page.html, page.html and category.html(archive)*/
.hero {
  position: relative;

  height: 20em;
  margin-top: $site-header-height;

  color: $white;
  box-shadow: inset 0 0 .7em 1px hsla(0, 0%, 7%, .5);

  @include mq(tablet) {
    height: 25em;
  }
  @include mq(desktop) {
    height: 30em;
  }
  @include flex-vert-align;
  justify-content: center;
  header {
    flex-direction: column;
  }

  h2 {
    margin-bottom: 0;
  }
}

.hero--page {
  background: radial-gradient(ellipse at center, hsla(0, 0%, 0%, .35) 0%, hsla(0, 0%, 0%, .27) 35%, hsla(0, 0%, 0%, 0) 100%);

  .circular-image {
    @include circular-image-size(12em);
  }
}

.hero--home .circular-image {
  @include circular-image-size(20em);
  @include mq(tablet) {
    @include circular-image-size(25em);
  }
  @include mq(desktop) {
    @include circular-image-size(25em);
  }
}

.page-type--partners .hero__image {
  height: 14em;
}

.hero__title {
  font-size: 3.5rem;

  position: relative;

  text-shadow: 0 0 .55em hsla(0, 0%, 20%, .8);

  @include mq($until: tablet) {
    font-size: 1.9em;
    .hero-page--no-img & {
      font-size: 2.5em;
    }
  };
}
