@mixin flex-vert-align() {
  display: flex;

  align-items: center;
}

@mixin textured-bg() {
  color: $white;
  background: $textured-panel-bg;
  a {
    color: $white;
  }
}

@mixin spacious-panel() {
  position: relative;

  min-height: $panel-min-height;
  padding-top: $panel-vert-padding;
  padding-bottom: $panel-vert-padding;
}

@mixin boostrap-btn-override($color) {
  background-color: $color;
  box-shadow: 0 0 0 4px $color, $shadow-half-trans-gray;

  &:hover {
    color: $color;
  }
}

/**
 * Fancypants pseudo-<hr> line
 */
@mixin fancy-code-hr($color) {

  display: flex;
  flex-direction: column;

  &:after {
    font-size: .5em;

    margin-top: .2em;

    content: '{\a0\a0}';
  }

  &:before {
    position: relative;
    top: -.25em;

    height: 1px;
    content: '';

    order: 2;

    @include mq(mobile) {
      @include fancy-hr-gradient(44%,56%,$color);
    }
    @include mq($from: tablet) {
      @include fancy-hr-gradient(46%,54%,$color);
    }
  }

}

@mixin fancy-hr-gradient($stop1, $stop2, $color) {
  background: linear-gradient(
  to right,
  transparentize($color, .9),
  $color calc(#{$stop1} + .1em),
  $transparent calc(#{$stop1} + .1em),
  $transparent calc(#{$stop2} - .1em),
  $color calc(#{$stop2} - .1em),
  transparentize($color, .9)
  );
}
