/**
 * Components: things not big enough to be modules
 */

/**
 * Social link icons
 */
ul.social-links {
  display: flex;

  padding: 0;

  justify-content: space-between;
  align-items: center;
}

// Vertical alignment using flexbox
.flex-vert-align {
  @include mq($until: tablet) {
    &:not(.row) {
      @include flex-vert-align;
    }
  }
  @include mq(tablet) {
    @include flex-vert-align;
  }
}

// Blurred background
.blur-bg:before {
  transition: 2s;

  filter: blur(2px);
}

// Spacing between columns on mobile
@include mq($until: tablet) {
  .row {
    [class^='col-'] + [class^='col-'] {
      margin: $inter-grid-spacing 0;
    }
  }
}

@include mq(tablet) {
  .row + .row {
    margin-top: $inter-grid-spacing;
    margin-bottom: $inter-grid-spacing;
  }
}
