---
layout: default
---

<article>
    <section class="hero hero--page hero-page--no-img">
        <h2 class="text-center hero__title">{{ page.title }}</h2>
    </section>
    <section class="post-content">
        <div class="container posts-list">
            {% unless page.content == '' %}
                <p>{{ page.content }}</p>
            {% endunless %}

            {% for post in site.categories[page.category] %}
                {% include list.html %}
            {% endfor %}
        </div>
    </section>
</article>
