---
layout: default
---

<section class="row">
    <div id="hero-page" class="col-xs-12 marg-big">
        <h2 class="text-center marg">{{ page.title }}</h2>
    </div>
    <div class="col-xs-12 col-md-10 col-lg-offset-1 marg">
        <ul>
            {% unless page.content == '' %}
                <p>{{ page.content }}</p>
            {% endunless %}

            {% for post in site.categories[page.category] %}
                {% assign show_excerpt = false %}
                {% include list.html %}
            {% endfor %}
        </ul>
    </div>
</section>
