/**
 * GENERIC, REUSABLE CLASSES
 */
.flex-horiz-center {
  justify-content: center;
}

// Underlined but smaller than the rest
.link--subtle {
  font-size: .6em;
  transition: 300ms color;
  text-decoration: underline;
}
