/**
 * GENERIC, REUSABLE CLASSES
 */
.flex-horiz-center {
  justify-content: center;
}

// Underlined but smaller than the rest
.link--subtle {
  font-size: .6em;
  transition: 300ms color;
  text-decoration: underline;
}

// Bootstrap .container too wide
.post-content .container {
  @include mq($from: desktop) {
    width: 1000px;
  }
}
